<div style="margin: 50px 0 0 100px;" >
    <nz-radio-group [(ngModel)]="type">
      <label nz-radio-button nzValue="info" (click)="changePageContent('userInfo')"><span>基本信息</span></label> 
      <br>
      <label nz-radio-button nzValue="password" (click)="changePageContent('changePassword')" style="margin-top:30px" ><span>修改密码</span></label>
    </nz-radio-group>
  </div>
  <div class="box-c" style="margin-top:30px;">
      <form nz-form [formGroup]="changePassword">
          <nz-row nzGutter="8">
            <nz-col nzSpan="24" >
              <nz-form-label nzFor="oldPwd" nzSpan="10" nzRequired  >登录密码</nz-form-label>
              <nz-form-control nzSpan="6">
                <input nz-input type="password" formControlName="oldPwd" #PassInput autofocus>
              </nz-form-control>
            </nz-col>      
          </nz-row>
          <nz-row nzGutter="8">
            <nz-col nzSpan="24" >
              <nz-form-label nzFor="pwd" nzSpan="10" nzRequired>请输入新密码</nz-form-label>
              <nz-form-control nzSpan="6">
                <input nz-input type="password" formControlName="pwd" placeholder="特殊字符+大写/小写字母+数字+8~25位">
              </nz-form-control>
            </nz-col>      
          </nz-row>
          <nz-row nzGutter="8">
            <nz-col nzSpan="24" >
              <nz-form-label nzFor="cppwd" nzSpan="10" nzRequired>确认新密码</nz-form-label>
              <nz-form-control nzSpan="6">
                <input nz-input type="password" formControlName="cppwd" placeholder="特殊字符+大写/小写字母+数字+8~25位">
              </nz-form-control>
            </nz-col>      
          </nz-row>
          <nz-row nzGutter="8">
            <nz-col nzSpan="24" >
              <nz-form-label nzFor="mobile" nzSpan="10" nzRequired>手机号</nz-form-label>
              <nz-form-control nzSpan="6">
                <input nz-input formControlName="mobile">
              </nz-form-control>
            </nz-col>      
          </nz-row>
          <nz-row nzGutter="8">
            <nz-col nzSpan="24" >
              <nz-form-label nzFor="verificationCode" nzSpan="10" nzRequired>验证码</nz-form-label>
              <nz-form-control nzSpan="6">
                <input nz-input formControlName="verificationCode">
              </nz-form-control>
              <div class="verigyBtn">
                <button (click)="getVerification()" [nzType]="'primary'" [disabled]="!canGet" nz-button>获取验证码<span *ngIf="!canGet">{{cutdown}}s</span></button>
              </div>
            </nz-col>      
          </nz-row>
          <nz-row nzGutter="8" style="text-align:center;margin-top:30px;">
            <button (click)="_submitForm($event,  changePassword.value)" nz-button>提交</button>
          </nz-row>
        </form>
  </div>
  
  