<div class="info-box">
  <img src="assets/image/home-left.png" alt="">
  <img class="img2" src="assets/image/home-right.png" alt="">
  <div>
    <div>
      <p>企业名称：</p>
      <span>{{entinfo?.enterpriseName}}</span>
    </div>
    <div>
      <p>工商注册号/统一社会信用代码：</p>
      <span>{{entinfo?.registrationNumber}}</span>
    </div>
    <div>
      <p>注册地址：</p>
      <span>{{entinfo?.registrationAddress}}</span>
    </div>
    <div>
      <p>企业类型：</p>
      <span>{{entinfo?.typeNames}}</span>
    </div>
  </div>
</div>