<div>
  <form class="SearchForm" nz-form [formGroup]="searchForm">
    <nz-row>
      <nz-col nzMd="6" nzLg="8" nzXl="6">
        <nz-form-item nzFlex>
          <nz-form-label nzSpan="9" [nzFor]="'provinceCode'">省</nz-form-label>
          <nz-form-control nzSpan="15">
            <!-- <input nz-input placeholder="placeholder" formControlName="provinceCode" [attr.id]="provinceCode"> -->
            <nz-select style="width: 100%" formControlName="provinceCode" [attr.id]="'provinceCode'" [nzPlaceHolder]="'请选择'"
              nzAllowClear (ngModelChange)="getCitys($event)">
              <nz-option *ngFor="let item of provinces" [nzLabel]="item.name" [nzValue]="item.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzMd="6" nzLg="8" nzXl="6">
        <nz-form-item nzFlex>
          <nz-form-label nzSpan="9" [nzFor]="'cityCode'">市</nz-form-label>
          <nz-form-control nzSpan="15">
            <nz-select style="width: 100%" formControlName="cityCode" [attr.id]="'cityCode'" [nzPlaceHolder]="'请选择'"
              nzAllowClear (ngModelChange)="getDistricts($event)">
              <nz-option *ngFor="let item of citys" [nzLabel]="item.name" [nzValue]="item.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzMd="6" nzLg="8" nzXl="6">
        <nz-form-item nzFlex>
          <nz-form-label nzSpan="9" [nzFor]="'countyCode'">区</nz-form-label>
          <nz-form-control nzSpan="15">
            <nz-select style="width: 100%" formControlName="countyCode" [attr.id]="'countyCode'" [nzPlaceHolder]="'请选择'"
              nzAllowClear (ngModelChange)="getRoads($event)">
              <nz-option *ngFor="let item of districts" [nzLabel]="item.name" [nzValue]="item.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzMd="6" nzLg="8" nzXl="6">
        <nz-form-item nzFlex>
          <nz-form-label nzSpan="9" [nzFor]="'countyCode'">街道</nz-form-label>
          <nz-form-control nzSpan="15">
            <nz-select style="width: 100%" formControlName="countyCode" [attr.id]="'countyCode'" [nzPlaceHolder]="'请选择'"
              nzAllowClear (ngModelChange)="getCitys($event)">
              <nz-option *ngFor="let item of roads" [nzLabel]="item.name" [nzValue]="item.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzMd="6" nzLg="8" nzXl="6">
        <nz-form-item nzFlex>
          <nz-form-label nzSpan="9" [nzFor]="'countyCode'">核查项组</nz-form-label>
          <nz-form-control nzSpan="15">
            <nz-select style="width: 100%" formControlName="groupName" [attr.id]="'groupName'" [nzPlaceHolder]="'请选择'"
              nzAllowClear >
              <nz-option *ngFor="let item of checkGroup" [nzLabel]="item.checkItemGroupName" [nzValue]="item.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col nzMd="6" nzLg="8" nzXl="6">
        <nz-form-item nzFlex>
          <nz-form-label nzSpan="9" [nzFor]="'countyCode'">核查性质</nz-form-label>
          <nz-form-control nzSpan="15">
            <nz-select style="width: 100%" formControlName="countyCode" [attr.id]="'countyCode'" [nzPlaceHolder]="'请选择'"
              nzAllowClear >
              <nz-option *ngFor="let item of properList" [nzLabel]="item.name" [nzValue]="item.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row class="but-group">
      <button nz-button [nzType]="'primary'"  (click)="getList(searchForm.value)" (keyup.enter)="getList(searchForm.value)">
        <i class="anticon anticon-search"></i>
        <span>查询</span>
      </button>
      <button nz-button [nzType]="'primary'"  (click)="resetForm()">
        <i class="anticon anticon-reload"></i>
        <span>重置</span>
      </button>
    </nz-row>
  </form>
  <nz-table #rowSelectionTable [nzData]="data" (nzCurrentPageDataChange)="currentPageDataChange($event)"
    (nzPageIndexChange)="changePage($event)" [nzTotal]="total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
    [nzFrontPagination]="false" >
    <thead>
      <tr>
        <th>序号</th>
        <th>市</th>
        <th>区</th>
        <th>核查项组</th>
        <th>任务数量</th>
        <th>人员数量</th>
        <th>核查进度</th>
        <th>任务状态</th>
        <th>最新任务完成时间</th>
        <th *ngIf="menuList[0].show">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data;let i = index;">
        <td>{{i+1}}</td>
        <td>{{data.cityName}}</td>
        <td>{{data.countyName}}</td>
        <td>{{data.groupName}}</td>
        <td>{{data.companyNum}}</td>
        <td>{{data.personNum}}</td>
        <td>{{data.tupe}}</td>
        <td>{{data.statue=='0'?'未完成':'已完成'}}</td>
        <td>{{data.endTime | date:'y-MM-dd'}}</td>
        <td *ngIf="menuList[0].show">
          <nz-dropdown>
            <button nz-button nz-dropdown nzType="primary"><span>操作</span> <i class="anticon anticon-down"></i></button>
            <ul nz-menu class="drop-btn" (click)="check(searchForm.value,data.taskId)">
              <li nz-menu-item style="text-align: center;">
                <span>详情</span>
              </li>
            </ul>
          </nz-dropdown>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <!-- 核查进度详情 -->
  <nz-modal [(nzVisible)]="isVisible" nzTitle="核查进度详情" [nzFooter]="null" nzCancelText=" 取消" (nzOnCancel)="handleCancel()"
      nzWidth="880">
    <nz-col>
      <form class="SearchForm" nz-form [formGroup]="checkDetailForm">
        <nz-row >
          <nz-col nzLg="6" >
            <nz-form-item nzFlex >
              <nz-form-label   nzSpan="9">企业名称</nz-form-label>
              <nz-form-control  ngSpan="15">
                <nz-col>
                  <input nz-input formControlName="companyName">
                </nz-col>
              </nz-form-control>
            </nz-form-item>
          </nz-col>
          <nz-col nzLg="6" >
            <nz-form-item nzFlex >
              <nz-form-label   nzSpan="9">核查员</nz-form-label>
              <nz-form-control ngSpan="15">
                <nz-col>
                  <input nz-input formControlName="checkPerson">
                </nz-col>
              </nz-form-control>
            </nz-form-item>
          </nz-col>
          <nz-col nzLg="6" >
            <nz-form-item nzFlex >
              <nz-form-label   nzSpan="9">核查状态</nz-form-label>
              <nz-form-control ngSpan="15" style="width:100%">
                <nz-select style="width: 100%" formControlName="statue"  [nzPlaceHolder]="'请选择'"
                  nzAllowClear>
                  <nz-option *ngFor="let item of roleTypes" [nzLabel]="item.name" [nzValue]="item.name">
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </nz-col>
        </nz-row>
        <nz-row class="but-group" >
            <button nz-button [nzType]="'primary'" (click)="checkDetail(checkDetailForm.value,taskId)" (keyup.enter)="checkDetail(checkDetailForm.value,taskId)" >
              <span>查询</span>   
            </button>
            <!-- <button nz-button [nzType]="'primary'">
              <span>批量通知</span>
            </button> -->
          </nz-row>
      </form>
    </nz-col>
    <nz-table #checkDetailTable [nzData]="checkDetailTableList" (nzCurrentPageDataChange)="currentPageDataChange($event)" [nzTotal]="total"
     [nzShowPagination]="false">
    <thead>
      <tr>
        <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate2" (nzCheckedChange)="checkAll($event)"></th>
        <th>序号</th>
        <th>企业名称</th>
        <th>企业类型</th>
        <th>核查状态</th>
        <th>核查员</th>
        <th>核查时间</th>
        <!-- <th>操作</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of checkDetailTable.data;let i = index;">
        <td nzShowCheckbox [(nzChecked)]="data.checked" [nzDisabled]="data.disabled" (nzCheckedChange)="refreshStatus()"></td>
        <td>{{i+1}}</td>
        <td ><span style="width:200px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;text-align:left;display:block;" [title]='data.companyName'>{{data.companyName}}</span></td>
        <td >{{data.companyType}}</td>
        <td >{{data.statue=='0'?'核查中':(data.statue=="1"?"待核查":(data.statue=="2"?"已核查":""))}}</td>
        <td >{{data.checkPerson }}</td>
        <td >{{data.checkTime |date:'y-MM-dd'}}</td>
        <!-- <td>
            <button nz-button nz-dropdown nzType="primary" (click)="inform(data.id)">通知</button>
        </td> -->
      </tr>
    </tbody>
  </nz-table>
  <div style="text-align: center;margin-top:20px;padding-top:16px;">
    <button nz-button [nzType]="'primary'" (click)="close()">
      <i class="anticon anticon-rollback"></i>
      <span>返回</span>
    </button>
  </div>
  </nz-modal>
</div>
