<div class="login-foot">
  <div class="logo-img">
    <img src="assets/image/gw.png" alt="">
    <p>官方网站</p>
  </div>
  <div class="logo-img">
    <img src="assets/image/gzh.jpg" alt="">
    <p>微信公众号</p>
  </div>
  <div class="c-login-desc">
    <p>为了你能正常使用网站功能,请使用以下浏览器Edge、Google Chrome、360安全浏览器！</p>
    <p><span> ©2016-2018 中金云金融（北京）大数据科技股份有限公司 &nbsp;&nbsp;&nbsp;版权所有ICP证：京ICP备16023495号-3</span></p>
    <p><a target="_blank" style="color:#fff;text-decoration: none;line-height: 1em;vertical-align: bottom;" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11030102010475"><img src="assets/image/gh.png" style="float:left;"/>京公网安备 11030102010475号</a></p>
  </div>
</div>
