<div style="margin: 50px 0 0 100px;">
  <nz-radio-group [(ngModel)]="type">
    <label nz-radio-button nzValue="info" (click)="changePageContent('userInfo')"><span>基本信息</span></label> <span *ngIf="type==='info'&&userinfo"
      style="margin-left:50px;">{{userinfo.loginName}}</span>
    <br>
    <label nz-radio-button nzValue="password" (click)="changePageContent('changePassword')" style="margin-top:30px"><span>修改密码</span></label>
  </nz-radio-group>
</div>
<div class="box-c">
  <div>
    <!--头像-->
    <div class="setImg" *ngIf="tupian">
      <img [src]="tupian" title="请上传企业LOGO">
    </div>
    <nz-row style="display:flex;justify-content: center;margin-bottom:30px">
      <button (click)="upImage()" nz-button nzType="primary">请上传企业LOGO</button>
    </nz-row>
  </div>
  <form nz-form [formGroup]="searchForm">
    <h4 class="title">管理员信息</h4>
    <nz-row>
      <nz-form-item nzFlex>
        <nz-form-label nzSpan='6'>姓名</nz-form-label>
        <nz-form-control nzSpan='15'>
          <nz-col>
            <input nz-input formControlName='name'>
          </nz-col>
        </nz-form-control>
      </nz-form-item>
    </nz-row>
    <nz-row>
      <nz-form-item nzFlex>
        <nz-form-label nzSpan='6'>职务</nz-form-label>
        <nz-form-control nzSpan='15'>
          <nz-col>
            <input nz-input formControlName='job'>
          </nz-col>
        </nz-form-control>
      </nz-form-item>
    </nz-row>
    <nz-row>
      <nz-col>
        <nz-form-item nzFlex>
          <nz-form-label nzSpan='6'>手机号</nz-form-label>
          <nz-form-control nzSpan='15'>
            <nz-col>
              <input nz-input formControlName='phone' disabled>
            </nz-col>
          </nz-form-control>
          <button nz-button nzType="primary" (click)="changePhone()" style="margin-top:5px;margin-left:20px;">修改</button>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row>
      <nz-form-item nzFlex>
        <nz-form-label nzSpan='6'>邮箱</nz-form-label>
        <nz-form-control nzSpan='15'>
          <nz-col>
            <input nz-input formControlName='email'>
          </nz-col>
        </nz-form-control>
      </nz-form-item>
    </nz-row>

    <h4 class="title">公司信息</h4>
    <nz-row>
      <nz-form-item nzFlex>
        <nz-form-label nzSpan='6'>公司名称</nz-form-label>
        <nz-form-control nzSpan='15'>
          <nz-col>
            <input nz-input formControlName='enterpriseName' disabled>
            <!-- <span formControlName='enterpriseName'></span> -->
          </nz-col>
        </nz-form-control>
      </nz-form-item>
    </nz-row>
    <nz-row>
      <nz-form-item nzFlex>
        <nz-form-label nzSpan='6'>统一社会信用代码</nz-form-label>
        <nz-form-control nzSpan='15'>
          <nz-col>
            <input nz-input formControlName='registrationNumber' disabled>
            <!-- <span formControlName='registrationNumber'></span> -->

          </nz-col>
        </nz-form-control>
      </nz-form-item>
    </nz-row>
    <nz-row>
      <nz-col>
        <nz-form-item nzFlex>
          <nz-form-label nzSpan='6'>业务类型</nz-form-label>
          <nz-form-control nzSpan='15'>
            <nz-col>
              <input nz-input formControlName='typeNames' disabled>
            </nz-col>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </nz-row>
    <nz-row>
      <nz-form-item nzFlex>
        <nz-form-label nzSpan='6'>注册地址</nz-form-label>
        <nz-form-control nzSpan='15'>
          <nz-col>
            <input nz-input formControlName='registrationAddress' disabled>

            <!-- <span formControlName='registrationAddress'></span> -->
          </nz-col>
        </nz-form-control>
      </nz-form-item>
    </nz-row>
    <nz-row style="display:flex;justify-content: center;">
      <button nz-button nzType="primary" (click)="tosubmit(this.searchForm.value)"> 提交</button>
    </nz-row>
  </form>



  <!-- 重置手机 -->
  <nz-modal [(nzVisible)]="isPhone" nzWidth="700" nzTitle="修改手机号" (nzOnCancel)="handleMobile()" (nzOnOk)="verifyMobile()">
    <nz-row>
      <nz-form-item nzFlex>
        <nz-form-label nzSpan="6">登陆密码</nz-form-label>
        <nz-form-control nzSpan="12">
          <nz-col>
            <input nz-input [formControl]="loginPass" autofocus>
          </nz-col>
        </nz-form-control>
      </nz-form-item>
    </nz-row>
    <nz-row>
      <nz-form-item nzFlex>
        <nz-form-label nzSpan="6">新手机号</nz-form-label>
        <nz-form-control nzSpan="12">
          <nz-col>
            <input nz-input [formControl]="newMobile" autofocus>
          </nz-col>
        </nz-form-control>
      </nz-form-item>
    </nz-row>
    <nz-row>
      <nz-form-item nzFlex>
        <nz-form-label nzSpan="6">验证码</nz-form-label>
        <nz-form-control nzSpan="12">
          <nz-col>
            <input nz-input [formControl]="yzm" autofocus>
          </nz-col>
        </nz-form-control>
        <button nz-button nzType="primary" style="margin-top:5px;margin-left:20px;" *ngIf="!isDisable" (click)="getCode()">获取验证码</button>
        <button nz-button nzType="default" style="margin-top:5px;margin-left:20px;" *ngIf="isDisable">获取验证码 <span *ngIf="time>=0">{{time}}s</span></button>
      </nz-form-item>
    </nz-row>
  </nz-modal>

</div>
